.add-climb-page {
    display: flex;
    justify-content: center;
    padding: 8rem;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgb(0, 0, 0)),
    url('/blue-slab.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

.climb-form {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.3);
    padding: 2rem;
    width: max-content;
    height: max-content;
}

.add-climb-header {
    font-size: 30px;
    font-family: "Zen Dots", sans-serif;
}

.climb-label {
    font-size: 18px;
}

.inputs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 2rem;
    max-width: 100%;
    max-height: 100%;
}

.inputs input {
    font-size: 18px;
    color: black;
    background-color: #c5c5c5;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    height: 1rem;
}

.inputs input[type="date"] {
    min-width: 9rem;
}

.inputs textarea {
    font-size: 18px;
    color: black;
    height: 3rem;
    background-color: #c5c5c5;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
}

select {
    font-size: 18px;
    color: black;
    background-color: #c5c5c5;
    border-radius: 3px;
    border: 1px solid rgb(0, 0, 0);
}

.inputs input:focus, 
.inputs textarea:focus,
.inputs select:focus {
  outline: none;             
}

.inputs input::placeholder,
.inputs textarea::placeholder {
    color: #929191;
}

input[type='date'] {
    color: #929191;
    
}

.first-row {
    display: flex;
    gap: 3rem;
    color: black;
}

.grade {
    display: flex;
    flex-direction: column;
}

.type {
    display: flex;
    flex-direction: column;
}

.attempts {
    display: flex;
    flex-direction: column;
}

.location {
    width: 18rem;
}


.second-row {
    color: black;
    display: flex;
    gap: 3rem;
}

.location {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date {
    display: flex;
    flex-direction: column;
}

.note {
    display: flex;
    flex-direction: column;
}

.submit-form {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: "Zen Dots", sans-serif;
    font-size: 18px;
    background-color: #FFC60B;
    border-radius: 5px;
    border-color: #FFC60B;
    width: 8rem;
    height: 2.5rem;
}

.submit-form:hover {
  transform: translateY(-1px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}