.climbs-page {
    display: flex;
    padding: 1rem;
    font-family: 'inter', sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #F4F4F4;
}

.climbs-main {
    display: grid;
    grid-template-areas: 
        'topbar topbar'
        'filter climbs';
    grid-template-columns: 1fr 4.8fr;
    grid-template-rows: auto 1fr;
    max-height: calc(100vh - 140px);
    width: 100%;
}

.climbs-header {
    display: flex;
    grid-area: topbar;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.climbs-header h2 {
    font-size: 30px;
    padding-right: 1rem;
}

.tags-container {
    display: flex;
    align-items: center;
}

.tags-container label {
    font-size: 18px;
    font-weight: bold;
}

.green-tag-bar {
    background-color: #68BC49;
    width: 5rem;
    height: 1rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
    border-radius: 8px;
}

.red-tag-bar {
    background-color: #EE4343;
    width: 5rem;
    height: 1rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
    border-radius: 8px;
}

.blue-tag-bar {
    background-color: #389EE8;
    width: 5rem;
    height: 1rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
    border-radius: 8px;
}

.purple-tag-bar {
    background-color: #66497D;
    width: 5rem;
    height: 1rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
    border-radius: 8px;
}

.black-tag-bar {
    background-color: #212121;
    width: 5rem;
    height: 1rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
    border-radius: 8px;
}

.climbs-controls {
    display: flex;
    gap: 1rem;
}

.climbs-controls button {
    font-size: 18px;
    background-color: #FFC60B;
    color: black;
    outline: none;
    width: 7rem;
    border-radius: 5px;
    border-color: #FFC60B;
    padding: 0.4rem;
}

.climbs-grid {
    grid-area: climbs;
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 1rem;
    overflow-y: scroll;
    
    gap: 1rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.3);
}

.climbs-grid::-webkit-scrollbar{
    background-color: transparent;
    width: 10px;
}

.climbs-grid::-webkit-scrollbar-track {
    background-color: transparent;
}

.climbs-grid::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 15px;
}