.home-page {
    display: flex;
    padding: 1rem;
    font-family: 'inter', sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #F4F4F4;
    background-image: url('/boulder-wall.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
}

.home-header h2 {
    font-size: 30px;
    font-weight: bold;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    margin-top: 30px;
    width: 70%;
}

.container {
    background-color: rgba(255, 255, 255, 0.781);
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.3);
}

.container3 {
    grid-column: span 2;
}