.current-level-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.climbing-level-header {
    font-family: "Zen Dots", sans-serif;
}

.grade-header {
    font-family: "Zen Dots", sans-serif;
    font-size: clamp(2.5rem, 4vw, 90px);
}

@media (max-width: 768px) {
    .climbing-level-header {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .climbing-level-header {
        font-size: 20px;
    }
}

@media (max-width: 428px) {
    .climbing-level-header {
        font-size: 18px;
    }
}