.search-container {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    margin-bottom: 2rem;
}

.search-container label{
    font-size: 16px;
    font-weight: bold;
}

.search-container input[placeholder='Enter Address'] {
    padding: 0.4rem;
    color: black;
    width: 10.2rem;
    font-size: 1rem;
    background-color: #D9D9D9;
    border-radius: 5px;
    border: none;
}

.loading {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    margin-bottom: 2rem;
    font-size: 16px;
    font-weight: bold;
}

@media (max-width: 1680px) {
    .search-container {
        margin-bottom: 1rem;
    }
}

@media (max-width: 768px) {
    .search-container {
        margin-bottom: 2rem;
        padding-left: 0.75rem;
    }

    .search-container input[placeholder='Enter Address'] {
        font-size: 14px;
    }
}