.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 1rem;
    background-color: #000000;
    box-shadow: 0 4px 10px hsla(0, 0%, 0%, 0.6);
    z-index: 10;
}

.navbar-content {
    display: flex;
    margin-left: auto; 
    align-items: center;
}

.nav-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

ul li {
    margin-top: 7px;
    padding-right: 30px;
    padding-left: 30px;
}

.nav-links li a {
    position: relative;
    font-family: "Zen Dots", sans-serif;
    font-size: 22px;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.nav-links li a.active {
    color: #FFC60B;
    text-decoration: none;
}

.nav-links li a:hover {
    color: #FFC60B; 
}

.nav-links li a::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #ff0000;
    transition: width 0.3s ease;
}

.nav-links li a:hover::after {
    width: 100%;
}

.betabase-logo {
    padding-left: 10px;
    height: 45px;
    margin-bottom: 5px;
}