.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 1rem;
    background-color: #000000;
    box-shadow: 0 4px 10px hsla(0, 0%, 0%, 0.6);
    z-index: 10;
}

.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.navbar-content {
    display: flex;
    margin-left: auto; 
    align-items: center;
}

.nav-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

ul li {
    margin-top: 7px;
    padding-right: 2rem;
    padding-left: 2rem;
}

.nav-links li a {
    position: relative;
    font-family: "Zen Dots", sans-serif;
    font-size: 22px;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.nav-links li a.active {
    color: #FFC60B;
    text-decoration: none;
}

.nav-links li a:hover {
    color: #FFC60B; 
}

.nav-links li a::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #ff0000;
    transition: width 0.3s ease;
}

.nav-links li a:hover::after {
    width: 100%;
}

.betabase-logo {
    padding-left: 10px;
    height: 40px;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .navbar {
        padding: 1rem;
    }

    .betabase-logo {
        padding-left: 10px;
        height: 30px;
        margin-bottom: 5px;
    }

    .nav-links li a {
        font-size: 18px;
    }

    ul li {
        margin-top: 4px;
        padding-right: 0.6rem;
        padding-left: 0.6rem;
    }
}

@media (max-width: 480px) {
    .betabase-logo {
        padding-left: 12px;
        height: 25px;
        margin-bottom: 0;
    }

    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px; 
        left: 0;
        background-color: #000000;
        width: max-content;
        padding: 1rem;
        border-radius: 5px;
        z-index: 20;
    }

    .nav-links.open {
        display: flex;
    }

    .nav-links li {
        margin: 0.5rem 0;
    }

}