.profile-dropdown {
  position: relative;
  display: inline-block;
}

.avatar {
  width: 65px;
  height: 65px;
  padding: 0;
  margin-right: 2rem;
  margin-left: 2rem;
  border-radius: 50px;
  border: 2px solid rgb(39, 39, 39);
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: rgb(0, 0, 0);
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  width: max-content;
  font-family: "Zen Dots", sans-serif;
}

.dropdown-menu button {
  background: none;
  border-radius: 2px;
  border: none;
  text-align: left;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  font-size: 16px;
  font-family: "Zen Dots", sans-serif;
}

.dropdown-menu button:hover {
  background-color: #FFC60B;
}

.user-text {
  padding-left: 7px;
  margin: 0;
  color: white;
}

@media (max-width: 768px) {
  .avatar {
    width: 50px;
    height: 50px;
    padding: 0;
    margin-right: 0.6rem;
    margin-left: 0.6rem;
    margin-top: 10px;
  }
}

@media (max-width:480px) {
  .dropdown-menu button {
    font-size: 20px;
  }

  .dropdown-menu {
    font-size: 20px;
  }
}