.profile-dropdown {
  position: relative;
  display: inline-block;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: rgb(0, 0, 0);
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  width: max-content;
}

.dropdown-menu button {
  background: none;
  border-radius: 2px;
  border: none;
  text-align: left;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  font-size: 16px;
}

.dropdown-menu button:hover {
  background-color: #FFC60B;
}